################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Rochas.Encrypter/bin
/Rochas.Encrypter/obj
